{%extends 'tigers/multimedia.html'%}
{% load static %}

{% block main %}

    {% for a in photos %}
              {% if forloop.counter0|divisibleby:"3" %}
<div class="album-photo">
  <a href="/media/2021/6/2/60844/photolenta_big_photo.jpeg"
     rel="milkbox[gall]">
    <img alt={{a.title}} src={% static a.photo %} />
  </a>
  <span>+</span>
  <p>{{a.title}}</p>
</div>

 {% elif forloop.counter0|divisibleby:"2" %}

<div class="album-photo">
  <a href="/media/2021/6/2/60845/photolenta_big_photo.jpeg"
     rel="milkbox[gall]">
    <img alt={{a.title}} src={% static a.photo %} />
  </a>
  <span>+</span>
  <p>{{a.title}}</p>
</div>

{% else%}

<div class="album-photo">
  <a href="/media/2021/6/2/60846/photolenta_big_photo.jpeg"
     rel="milkbox[gall]">
    <img alt={{a.photo.title}} src={% static a.photo %}/>
  </a>
  <span>+</span>
  <p>{{a.title}}</p>
</div>


<div style="clear: both;"></div>

{% endif %}
{% endfor %}
{% endblock %}