{%extends 'tigers/pattern_2.html'%}
{% block main %}
{% load static %}
    <div class="multimedia_main_block">
        <h2>МУЛЬТИМЕДИА</h2>
        <div class="types">
            <a href="/tigers/multimedia/photos"
               class="active">ФОТОГАЛЕРЕЯ</a>
            <span>|</span>
            <a href="/tigers/multimedia/video"
               >ВИДЕОГАЛЕРЕЯ</a>
        </div>
        <div id="scrollable">
            <div class="scrollable-content">





    {% for a in albums_obj %}
      <div class="album">
        <a href="/tigers/multimedia/photos/{{a.0.id}}">
          <img alt="{{a.0.title}}" src={% static a.0.title_photo %} />
        </a>
        <span>{{a.1}}</span>
        <p>{{a.0.title}}</p>
      </div>

    {% if forloop.counter|divisibleby:"2" %}
    <div style="clear: both;"></div>
    {% endif %}
    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
