{%extends 'tigers/pattern_2.html'%}
{% block main %}
{% load static %}
    <div class="multimedia_main_block">
        <h2>МУЛЬТИМЕДИА</h2>
        <div class="types">
            <a href="/tigers/multimedia/photos"
               >ФОТОГАЛЕРЕЯ</a>
            <span>|</span>
            <a href="/tigers/multimedia/video"
               class="active">ВИДЕОГАЛЕРЕЯ</a>
        </div>
        <div id="scrollable">
            <div class="scrollable-content">


    <ul class="cols">

    {#Начало видео#}
        <li class="video-item" id="video-60881">
            <p>{#Название видео#}</p>



    <div class="video-item-media">
        <video width="271" height="199" id="video-1"
               poster="/tigers/program2_big.jpeg"
               src="http://archive.premier.gov.ru/media/2021/8/3/60881/video_sd/Tigrica_u_vody_SD.mp4"
               preload="false">
        </video>
        <span class="video-item-link" title="Воспроизвести видео"> <i
                class="video-item-icon"></i></span>
    </div>

                    </li>

        {#Конец видео#}
    </ul>

            </div>
        </div>

    </div>

{% endblock %}