{%extends 'tigers/pattern_2.html'%}
{% block main %}
{% load static %}
    <div class="multimedia_main_block">
        <h2>МУЛЬТИМЕДИА</h2>
        <div class="types">
            <a href="/tigers/multimedia/photos"
               >ФОТОГАЛЕРЕЯ</a>
            <span>|</span>
            <a href="/tigers/multimedia/video"
               class="active">ВИДЕОГАЛЕРЕЯ</a>
        </div>
        <div id="scrollable">
            <div class="scrollable-content">


    <ul class="cols">

    {% for video in videos%}
        <li class="video-item" id="video-60881">
            <p>{{ video.title}}</p>



    <div class="video-item-media">
        <video width="271" height="199" id={{video.id}}
               poster="{% static video.photo %}"
               src={{video.video}}
               preload="false">
        </video>
        <span class="video-item-link" title="Воспроизвести видео">
            <i class="video-item-icon"></i>
        </span>

    </div>

        </li>

        {% endfor%}

    </ul>

            </div>
        </div>

    </div>

{% endblock %}

        {% block script %}


        {% endblock %}